@{
    ViewData["Title"] = "";


}
@{
    Layout = "_LayoutHome";
}
@model ManagementSys.Models.User

<div class="text-center">
    <div id="login-div">
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td> LOGIN</td>
                    <td></td>
                </tr>
                <tr>
                    <td> USERNAME</td>
                    <td> @Html.EditorFor(model => model.username)</td>

                    <td>  @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td> PASSWORD</td>
                    <td> @Html.EditorFor(model => model.password)</td>

                    <td>  @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="name" value="Login" /></td>
                </tr>
            </table>
        }
        @if (TempData["Message"] != null)
        {
            <span style="color:red;">@TempData["Message"].ToString()</span>
        }
    </div>

</div>

<script src="~/js/Script/jquery-1.10.2.min.js"></script>
<script src="~/js/Script/jquery.validate.min.js"></script>
<script src="~/js/Script/jquery.validate.unobtrusive.min.js"></script>
